*{
  padding: 0%;
  ;
}
img{
  position: absolute;  
}
#dropdown{
  position: relative;
  top: 150px;
  background-color: #ABEDD8;
  width: 20px;
}
#dropdown_img{
  position: relative;
  top: 2px
  left: -1px
}
