@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
  margin: 0%;
  background-color: #fff;
}

.ht{
 font-weight: 700;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Header*/
#logo {
  float: left;
  margin: 8px 15px;
}
.search {
  float: right;
  margin-right: 10px;
}
#searchbtn, #search{
  border: 0px;
  padding: 10px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 10%;
  font-size: 16px;
  background-color: white;
}

#Login {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Pangolin', cursive;
}

#Login:hover {
  color: #FFF5AB;
}
#header{
  background-color: #00ADB5;
  overflow: hidden;
}



/*Body Layout*/
#ds{
  background-color: #EEEEEE;
  width: 100%;
  color: #222831;
}
#algo{
  background-color: #222831;
  color: #EEEEEE;
}
#BodyTab{
  overflow: hidden;
}
.column{
  margin: 0px;
  padding: 0px;
}




/*Card*/
.card,.card1{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  min-width: 300px;
  margin: 40px;
  transition-duration: 0.2s;
}
.col1{
  background-color: #FFB6B9;
}
.col2{
  background-color: #FAE3D9;
}
.col3{
  background-color: #BBDED6;
}
.col4{
  background-color: #61C0BF;
}

.col1a{
  background-color: #F67280;
}
.col2a{
  background-color: #C06C84;
}
.col3a{
  background-color: #6C5B7B;
}
.col4a{
  background-color: #355C7D;
}

.card1{
  color: #EEEEEE;
}
.card{
  color: #222831;
}


.card:hover{
  background-color:#222831;
  color: #EEEEEE;
  
}
.card1:hover{
  background-color:#EEEEEE;
  color: #222831;
}

@media screen and (max-width: 1300px) {
  .card,.card1{
    border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  min-width: 190px;
  transition-duration: 0.2s;
  }
}
@media screen and (max-width: 700px) {
  .card,.card1{
    border: none;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  min-width: 120px;
  transition-duration: 0.2s; /* The width is 100%, when the viewport is 800px or smaller */
  }
}