body {
  margin: 0%;
}

#logo {
  float: left;
  margin: 8px 15px;
}
.search {
  float: right;
  margin-right: 10px;
}
#searchbtn, #search{
  border: 0px;
  padding: 10px;
  margin-top: 30px;
  margin-right: 0px;
  font-size: 16px;
}
#search{
  background-color: rgb(239, 239, 239);
}

#Login {
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  border-radius: 4px;
}

#Login:hover {
  background-color: white;
  color: black;
}
#header{
  background-color: #9efafc93;
  overflow: hidden;
}



/*Body Layout*/
#ds{
  float: right;
  background-color: #98DDCA;
}
#algo{
  float: left;
  background-color: #D5ECC2;
}
#Body{
  overflow: hidden;
  margin: 10px;
}
.column{
  width: 50%;
}